#data-selector-row {
  width: 100vw;
  padding: 0px 30px 0px 30px;
}

.data-selector-col {
  height: 45px;
  font-size: normal;
  font-weight: bold;
  text-align: center;
  line-height: 42px;
  color: #E0E0E0;
  border: 1px;
  border-style: solid;
  border-color: #404040;
  background-color: #303030;
}


#data-selector-current-col {
  border-bottom-left-radius: 15px;
}

#data-selector-price-col {
  
}

#data-selector-orders-col {
  border-bottom-right-radius: 15px;
}

.data-selector-text {

}