#data-display-row {
  width: 100vw;
  padding: 0px 30px 0px 30px;
  margin-top: 15px;
}
#data-display-col {
  max-height: 60vh;
  width: 100%;
  padding: 0px 15px 60px 6px;
  border: 1px;
  border-style: solid;
  border-color: #D0D0D0;
  border-radius: 15px;
  background-color: #F0F0F0;
}

#data-display-message {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: normal;
  font-weight: bold;
  text-align: center;
  color: black;
}